body {
  font-family: sans-serif, serif;
}

table, tr, td, th {
  border: solid 2px black;
}

h3 {
  text-decoration: underline;
  padding: 0px 20px;
}

h1, h2, p, input {
  padding: 0px 20px;
}

.code, .snippet {
  font-family: monospace;
  color: red;
  background-color: lightblue;
  padding: 5px 10px;
}

.tab {
  padding-left: 30px;
}
